---
layout: blog
title: Valtrix Blog
permalink: /blog/
---

<div class="container">
    <div class="row">
        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">
            {% for post in site.categories['blog'] %}
                <!-- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.blogtitle }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}...
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="spacing"></div>
            {% endfor %}

        </div><!--/col-lg-8 -->

        {% include sidebar.html %}

    </div><!--/row -->
</div><!--/container -->
