---
layout: contact
title: Contact a Valtrix Representative
permalink: /contact/
---

<div id="contactwrap"></div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>Just Get In Touch!</h4>
            <div class="hline"></div>
                <p>{{ site.contactmsg }}</p>
                <form role="form" action="http://formspree.io/contact@valtrix.in" method="POST">
                  <div class="form-group">
                    <label for="InputName1">Your Name</label>
                    <input class="form-control" id="exampleInputEmail1" type="text" name="name">
                  </div>
                  <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="_replyto">
                  </div>
                  <div class="form-group">
                    <label for="InputSubject1">Subject</label>
                    <input name="subject" class="form-control" id="exampleInputEmail1">
                  </div>
                  <input type="text" name="_gotcha" style="display:none" />
                  <input type="hidden" name="_next" value="http://valtrix.in/contact/" />
                  <div class="form-group">
                    <label for="message1">Message</label>
                    <textarea name="message" class="form-control" id="message1" rows="3"></textarea>
                  </div>
                  <button type="submit" value="Send" class="btn btn-theme">Submit</button>
                </form>
        </div><! --/col-lg-8 -->

        <div class="col-lg-4">
            <h4>Our Address</h4>
            <div class="hline"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            <h4>Email</h4>
            <div class="hline"></div>
                <p><a href="mailto:contact@valtrix.in">
                    {{ site.email }}
                </a></p>
            <h4>Telephone</h4>
            <div class="hline"></div>
                <p>
                    {% for no in site.tel.first.nos %}
                        {{ no }} <br>
                    {% endfor %}
                </p>
        </div>
    </div><! --/row -->
</div><! --/container -->
