<div class="container">
    <div style="padding-bottom:20px"></div>
    <div class="row" style="vertical-align:middle">
        <div class="col-md-6">
            <!--<span><a href="https://community.arm.com/community/arm-partner-directory/partner-valtrix-systems/" target="_blank"><img src="/assets/img/arm_cc_logo.png" alt="" style="margin-top:5px"/></a></span>-->
            <span><a href="https://riscv.org/member/valtrix/" target="_blank"><img src="/assets/img/RISCV_small.png" alt="" style="margin-top:5px"/></a></span>
        </div>
    </div>
    <div style="padding-bottom:30px"></div>
    <!--
    <div class="hline" style="border-width:1px;padding-top:10px;padding-bottom:10px;margin-bottom:20px"></div>
    <div class="row centered">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <h2 class="handwrite" style="color:black;font-weight:100;text-align:center">Our services are not limited to the above mentioned list. We are open to solving any problem that is being an impediment in your validation process.</h2>
        </div>
        <div class="col-lg-1"> </div>
    </div>
    <div class="row centered" style="padding-top:10px;padding-bottom:20px">
        <a href="{{"/contact/" | prepend: site.baseurl }}" class="btn btn-theme" style="font-size:24px">Contact us</a>
    </div>
    -->
</div> <!-- /container -->
