<div class="container">
    <div class="row centered" style="padding-top:20px;">
    </div>
    <div class="row centered">
        <div class="col-lg-12">
            <h4 style="font-weight:500;text-align:justify">
                Valtrix Systems is developing cutting edge EDA products for design verification of systems of varying complexities. We are looking to build a team of technical visionaries and offer a dynamic working environment in which all the contributions are valued and innovation is rewarded.<br/><br/>
                We are always looking for bright and talented individuals for opportunities in Bangalore, India. If you are interested in what we are doing and share our passion for technology, you may submit your resume for consideration of a position by writing directly to <a href="mailto:contact@valtrix.in">contact@valtrix.in</a>.
            </h4>
        </div><!-- /row -->
    </div><!-- /row -->
    <div class="row centered" style="padding-top:30px;">
    </div>
</div> <!-- /container -->
