<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <div style="text-align:justify;position:relative" class="col-md-12">
                <h3>Our Clients and Partners</h3>
                <div class="row" style="margin-top:25px">
                    {% for client in site.clients_row_1 %}
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive" style="margin:0 auto">
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="margin-top:25px">
                    {% for client in site.clients_row_2 %}
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive" style="margin:0 auto">
                        </div>
                    {% endfor %}
                </div>
            </div><! --/row -->
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
