<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Quick Links</h4>
                <div class="hline-w"></div>
                <div class="col-lg-4 footer-links">
                    <a href="{{"/about-us/" | prepend: site.baseurl }}">About Us</a> <br/>
                    <!--<a href="{{"/team/" | prepend: site.baseurl }}">Team</a> <br/>-->
                    <!--<a href="{{"/newsletters/" | prepend: site.baseurl }}">Newsletters</a> <br/>-->
                    <a href="{{"/affiliations/" | prepend: site.baseurl }}">Affiliations</a> <br/>
                    <a href="{{"/careers/" | prepend: site.baseurl }}">Careers</a> <br/>
                    <a href="{{"/contact/" | prepend: site.baseurl }}">Contact Us</a> <br/>
                </div>
                <div class="col-lg-4 footer-links">
                    <a href="{{"/blog/" | prepend: site.baseurl }}">Blog</a> <br/>
                    <a href="{{"/press-updates/" | prepend: site.baseurl }}">Press Updates</a> <br/>
                    <a href="{{"/terms-of-use/" | prepend: site.baseurl }}">Terms Of Use</a> <br/>
                    <a href="{{"/privacy-policy/" | prepend: site.baseurl }}">Privacy Policy</a> <br/>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Follow us on</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
                <!--
                <div class="footer-links-big">
                    <a href="{{"/newsletters/" | prepend: site.baseurl }}">Valtrix Newsletters</a> <br/>
                </div>-->
            </div>
        </div><! --/row -->
        <div class="row">
            <div class="col-lg-8">
                <p> © 2020 Valtrix Technologies Private Limited. All Rights Reserved. </p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/footerwrap -->
