<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Quick Links</h4>
                <div class="hline-w"></div>
                <div class="col-lg-4 footer-links">
                    <a href="#">Overview</a> <br/>
                    <a href="{{"/management/" | prepend: site.baseurl }}">Management Team</a> <br/>
                    <a href="#">Careers</a> <br/>
                    <a href="#">Blog</a>
                </div>
                <div class="col-lg-4 footer-links">
                    <a href="{{"/contact/" | prepend: site.baseurl }}">Contact Us</a> <br/>
                    <a href="#">Press</a> <br/>
                    <a href="#">Legal</a> <br/>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Follow us on</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
