<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Valtrix Systems is an EDA startup delivering products and solutions for design verification of RISC-V and ARM based SoC/IP/CPU implementations</h2>
                <h4>Our solutions are architected to shift-left the design and verification of complex systems resulting in a faster time-to-market at reduced cost and effort. We also provide consultations and service on different aspects of IP/SoC design and verification.</h3>
                <h4>Headquartered in Bangalore, India, the team comprises of experienced professionals from the semiconductor industry.</h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
