<div class="container mtb">
    <div class="row centered">
        <div class="row centered">
            {% for member in site.members %}
                <div class="col-md-2">
                    <div class="row centered">
                        <div class="he-wrap tpl6">
                          <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="" style="display:block;margin:auto;border-radius:50%;">
                            <div class="he-view" style="border-radius:50%;">
                                <div class="bg a0" data-animate="fadeIn">
                                    <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                                    {% for entry in member.social %}
                                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                                    {% endfor %}
                                </div><!-- he bg -->
                            </div><!-- he view -->
                        </div><!-- he wrap -->
                    </div>
                    <div style="margin-left:5px;margin-right:5px;text-align:center;">
                        <p class="cname" style="height:40px">{{ member.name }}</p>
                        <p class="ctitle" style="height:20px">{{ member.position }}</p>
                        <!--<p style="text-align:center;font-size:15px">{{ member.text }}</p>-->
                    </div>
                </div>
            {% endfor %}
            <br/>
        </div><! --/col-lg-3 -->
    </div><! --/row -->
</div><! --/container -->
