<div class="container mtb">
    <div class="row centered">
        {% for member in site.members %}
        <div class="row centered">
            <div class="col-md-3">
                <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            {% for entry in member.social %}
                                <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                            {% endfor %}
                        </div><!-- he bg -->
                    </div><!-- he view -->		
                </div><!-- he wrap -->
            </div>
            <div class="col-md-9">
                <h3>{{ member.name }}</h3>
                <h4 class="ctitle">{{ member.position }}</h4>
                <p style="text-align:left;font-size:16px">{{ member.text }}</p>
            </div>
        </div><! --/col-lg-3 -->
        <br/>
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->
