<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>

        <li {% if page.title == "Company" %}class="active"{% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown">Company
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/about-us/" | prepend: site.baseurl }}">About Us</a></li>
                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/team/" | prepend: site.baseurl }}">Team</a></li>-->
                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/newsletters/" | prepend: site.baseurl }}">Newsletters</a></li>-->
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/affiliations/" | prepend: site.baseurl }}">Affiliations</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/press-updates/" | prepend: site.baseurl }}">Press Updates</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/careers/" | prepend: site.baseurl }}">Careers</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/terms-of-use/" | prepend: site.baseurl }}">Terms Of Use</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.synopsys.com/company/legal/privacy-policy.html" target="_blank">Privacy Policy</a></li>
            </ul>
        </li>

        <li {% if page.title == "Products" %}class="active"{% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown">Products
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/sting/" | prepend: site.baseurl }}">STING</a></li>
                <!--<li role="presentation" class="divider"></li>-->
                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/upcoming-products/" | prepend: site.baseurl }}">Upcoming Products</a></li>-->
            </ul>
        </li>

        <li {% if page.title == "Services" %}class="active"{% endif %}><a href="{{"/services/" | prepend: site.baseurl }}">Services</a></li>
        <li {% if page.title == "Blog" %}class="active"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">Blog</a></li>
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
