<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>

        <li {% if page.title == "Company" %}class="active"{% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown">COMPANY
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">OVERVIEW</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/management/" | prepend: site.baseurl }}">MANAGEMENT TEAM</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">AFFILIATIONS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">PRESS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">CAREERS</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">LEGAL</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">PRIVACY POLICY</a></li>
            </ul>
        </li>

        <li {% if page.title == "Products" %}class="active"{% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown">PRODUCTS
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">STING</i></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">DESIGN/VALIDATION CONSULTATION</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{"/pagenotready/" | prepend: site.baseurl }}">UPCOMING PRODUCTS</a></li>
            </ul>
        </li>

        <li {% if page.title == "Blog" %}class="active"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">BLOG</a></li>
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
