<div class="container mtb">
    <div class="row col-lg-12">
        <p style="font-size:18px;"> Valtrix Newsletters will keep you well informed about the latest updates from our team in the field of design verification for system-on-chip/IP/CPU implementations. We sincerely hope that you will find the information useful and would welcome any suggestions or feedback which will help us improve. <br/><br/> Please complete the form given below to subscribe and receive our newsletter every quarter. You will be able to unsubscribe at any later point should you choose to stop receiving the updates.</p>
    </div>
    <div class="row col-lg-8">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <form action="//valtrix.us12.list-manage.com/subscribe/post?u=d7e9f54edb6ec28c37ae87b60&amp;id=e051fa499b" method="post" id="contact-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h4>Subscribe to our Mailing List</h4>
            <div class="hline"></div>
            <div style="text-align:right;"><span style="color:red;">*</span> indicates required</div>
            <div class="form-group">
                <label for="InputEmail1">Email Address  <span style="color:red;">*</span></label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
            </div>
            <div class="form-group">
                <label for="InputName1">First Name </label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="form-group">
                <label for="InputLastName1">Last Name </label>
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7e9f54edb6ec28c37ae87b60_e051fa499b" tabindex="-1" value=""></div>
            <div class="clear">
                <button type="submit" value="Subscribe" name="subscribe" class="btn btn-theme">Subscribe</button>
            </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
    <div class="row col-lg-8">
        <br/>
        <h4>Previously released Valtrix Newsletters</h4>
        <div class="hline"></div>
        <div style="font-size:18px">
            <br/> 26 Feb 2016 - <a href="//eepurl.com/bR3fP9" target="_blank">2016'Q1 Edition</a> <br/>
        </div>
    </div>
</div> <!-- /container -->
