<div class="container">
    <!--
    <div class="hline" style="border-width:1px;padding-top:10px"></div>
    -->
    <div style="padding-bottom:20px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">NEWS UPDATES</div>
        </div>
    </div>
    <div style="padding-bottom:10px"></div>
    <div class="row" style="vertical-align:middle">
        <div class="col-md-3">
            <span><img src="/assets/img/se_logo.png" alt="" style="margin-top:5px"/></span>
        </div>
        <div class="col-md-9" style="font-size:18px">
            <span><a href="http://semiengineering.com/valtrix-pushes-for-horizontal-verification-reuse/" target="_blank"><b>Valtrix Pushes For Horizontal Verification Reuse</b></a></span>
        </div>
    </div>
    <div style="padding-bottom:30px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">PRESS RELEASES</div>
            <!--
            <p class="upprod_desc">Our team comprises of IP validation experts and can help create comprehensive verification and debug plans for your IPs and SoCs. Test plans are provided for the functional aspect of the IPs. Scenarios are developed and graded according to their importance. We can also help review existing plans and address coverage gaps in it. Test scenarios in the existing verification plans can also be ported to STING or other Valtrix products.</p>
            -->
        </div>
    </div>
    <div style="padding-bottom:10px"></div>
    <div class="row" style="vertical-align:middle">
        <div class="col-md-12" style="font-size:18px">
            <span><a href="https://www.businesswire.com/news/home/20181203005738/en/Imperas-Valtrix-Announce-Partnership-RISC-V-Processor-Verification" target="_blank"><b>Imperas Valtrix Announce Partnership for RISC-V Processor Verification</b></a></span>
            <span style="font-size:14px;">May 30, 2016</span>
        </div>
    </div>
    <div class="row" style="vertical-align:middle">
        <div class="col-md-12" style="font-size:18px">
            <span><a href="/announcements/riscv-announce/" target="_blank"><b>Valtrix Announces Support For RISC-V In STING</b></a></span>
            <span style="font-size:14px;">May 30, 2016</span>
        </div>
    </div>
    <div style="padding-bottom:20px"></div>
    <!--
    <div class="hline" style="border-width:1px;padding-top:10px;padding-bottom:10px;margin-bottom:20px"></div>
    <div class="row centered">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <h2 class="handwrite" style="color:black;font-weight:100;text-align:center">Our services are not limited to the above mentioned list. We are open to solving any problem that is being an impediment in your validation process.</h2>
        </div>
        <div class="col-lg-1"> </div>
    </div>
    <div class="row centered" style="padding-top:10px;padding-bottom:20px">
        <a href="{{"/contact/" | prepend: site.baseurl }}" class="btn btn-theme" style="font-size:24px">Contact us</a>
    </div>
    -->
</div> <!-- /container -->
