<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h3 style="font-weight:600;text-align:justify"><i>"In addition to the product vertical, Valtrix Systems also provides consultation and services in a number of areas."</i></h3>
        </div><!-- /col-lg-12 -->
    </div><!-- /row-->
    <div class="hline" style="border-width:1px;padding-top:10px"></div>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Validation planning for IP(s)
            </h3>
            <p class="upprod_desc">Our team comprises of IP validation experts and can help create comprehensive validation plan for your IPs and Sos. Test plans are provided for the functional aspect of the IPs. Scenarios are developed and graded according to its importance. We can also help review existing validation plans and address coverage  gaps in it. We can also help port the test scenarios in the existing validation plans to Sting or other Valtrix products.</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Validation infrastructure
            </h3>
            <p class="upprod_desc">A good validation infrastructure is very important to achieve validation goals. A good validation infrastructure is intuitive and is not a distraction to the engineers. We can help you build validation infrastructure that caters to the unique needs of your company. Validation infrastructure is built considering considering the in-house tools and interfaces are provided to extract information such that it is easy to understand the overall status of validation in progress. All the data will be captured and reported in real time.</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="hline" style="border-width:1px;padding-top:10px;padding-bottom:10px"></div>
    <div class="row centered">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <h2 class="handwrite" style="color:black;font-weight:100;text-align:center">Our services are not limited to the above mentioned list. We are open to solving any problem that is being an impediment in your validation process.</h2>
        </div>
        <div class="col-lg-1"> </div>
    </div>
    <div class="row centered" style="padding-top:10px;padding-bottom:20px">
        <a href="{{"/contact/" | prepend: site.baseurl }}" class="btn btn-theme" style="font-size:24px">Contact us</a>
    </div>
</div> <!-- /container -->
