<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h4 style="font-weight:500;text-align:justify">Valtrix Systems also offers consultation and service on a wide range of design verification and system validation related tasks. These include, but are not limited, to:</h4>
        </div><!-- /col-lg-12 -->
    </div><!-- /row-->
    <!--
    <div class="hline" style="border-width:1px;padding-top:10px"></div>
    -->
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">PORTING STING TO YOUR TARGET SYSTEM</div>
            <p class="upprod_desc">The architecture agnostic design of STING allows for easy portability. STING can be easily enabled by adding the drivers for the unique IPs and by porting the test generation algorithms to the target system architecture of the SoC. In case the IPs are already supported by STING, the tool can be enabled out of the box without making significant changes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">DEVELOP A COMPREHENSIVE VERIFICATION AND DEBUG STRATEGY</div>
            <p class="upprod_desc">Our team comprises of IP validation experts and can help create comprehensive verification and debug plans for your IPs and SoCs. Test plans are provided for the functional aspect of the IPs. Scenarios are developed and graded according to their importance. We can also help review existing plans and address coverage gaps in it. Test scenarios in the existing verification plans can also be ported to STING or other Valtrix products.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">VERIFICATION INFRASTRUCTURE</div>
            <p class="upprod_desc">A good infrastructure is very important to achieve verification goals. Good design makes the entire process intuitive and does not cause distraction to the engineers. We can help you build infrastructure for verification that caters to the unique needs of your company. It will consider the in-house tools and interfaces to extract information such that it is easy to understand the overall status of verification in progress. All the data will be captured and reported in real time.</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">CONSULTATION ON HARDWARE DESIGN AND VERIFICATION</div>
            <p class="upprod_desc">We also provide consultations on hardware design with a special focus on adopting the most optimal verification strategy for your SoC</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">STING RELATED SUPPORT OR TRAINING</div>
            <p class="upprod_desc">Any support or training which will help the customer to develop a hands-on expertise of STING can be provided. All the salient features of the tool will be explained in sufficient detail along with demo exercises on test stimulus development.</p>
        </div>
    </div>
    <div style="padding-bottom:20px"></div>
    <!--
    <div class="hline" style="border-width:1px;padding-top:10px;padding-bottom:10px;margin-bottom:20px"></div>
    <div class="row centered">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <h2 class="handwrite" style="color:black;font-weight:100;text-align:center">Our services are not limited to the above mentioned list. We are open to solving any problem that is being an impediment in your validation process.</h2>
        </div>
        <div class="col-lg-1"> </div>
    </div>
    <div class="row centered" style="padding-top:10px;padding-bottom:20px">
        <a href="{{"/contact/" | prepend: site.baseurl }}" class="btn btn-theme" style="font-size:24px">Contact us</a>
    </div>
    -->
</div> <!-- /container -->
