<div class="col-lg-4">
    <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p style="font-size:15px" class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>
    <h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" %}
        <p>
            <a style="font-size:15px" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}">{{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}

    <div class="spacing"></div>

    <h4>Recent Posts</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.categories['blog'] limit:4 %} 
            <div>
                <p><a style="font-size:15px" href="{{ post.url }}">{{ post.blogtitle }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </div>
            {% endfor %} 
        </ul>

    <div class="spacing"></div>

    <h4>Popular Categories</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}{% unless category.first == "blog" %}
            <a style="font-size:15px" class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>	         
        {% endunless %}{% endfor %}
    </p>
</div>
