<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h3 style="text-align:justify"> "<b>Sting</b>, the flagship product of Valtrix Systems, is a bare-metal system validation tool for complex client/server SoCs."</h3>
<!--
Sting, the flagship product of Valtrix Systems, is a bare-metal system validation tool for complex client/server SoCs. Implemented in an architecture agnostic manner, it currently supports AArch64/ARMv8 CPU and PCI express system architectures. Support for other CPU and system architectures like USB, SATA, GIC, SMMU architectures will be added in future. Test content reuse is enabled by shift-left compliance and target configuration independent test generation. The fresh and innovative approach to system validation makes it a highly potential tool-of-choice for any SoC implementation.

Lot of thought has been applied into the design and development of Sting to ensure that it is a superior alternative for validation of systems in the industry.

It is designed to facilitate maximum concurrency i.e. the state in which all the IPs present in the test are active at the same time resulting in maximum system stress. Different types of test content specifications are supported in Sting to give fine tuned control to validation engineers to define any test scenario. User can create a highly focused scenario using an ASM like low level language or create algorithmic stimulus with a C++ like high level programming language framework. These features also make the tool highly extendable to support independent test development for proprietary elements of a SoC.

Sting runs on pre-silicon, emulation, FPGA and silicon alike. It allows test content to be written such that it lends itself to easy migration from simulation to FPGA. The test content automatically adapts depending on the target configuration. It ensures that the test content developed in early design stages or in a different system configuration is not discarded as the validation cycle moves forward. Reuse of test content across different phases of validation allows validation teams to consolidate the test content irrespective of target and environment and harnesses the full power of the test content. Bugs are not missed because a test was not run enough. A failure in post-silicon environment can be easily recreated in emulation or at an earlier phase resulting in improved debug throughput.

Extensive documentation and training material is available to let the validation teams ramp quickly on the tool. A library of test content stimulus for various architectural scenarios is also shipped with the tool to allow faster validation readiness.
-->
        </div><!-- /row -->
    </div><!-- /row -->
</div> <!-- /container -->
