<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h3 style="font-weight:600;text-align:justify"><i>"STING, the flagship product of Valtrix Systems, is a bare-metal system validation tool for complex client/server SoCs."</i></h3>
        </div><!-- /col-lg-12 -->
    </div><!-- /row-->
    <div class="hline" style="border-width:1px;padding-top:10px"></div>
    <div class="row centered">
        <div class="col-lg-12">
            <h2 style="font-weight:100;text-align:justify">Sting has been developed with a vision to solve problems seen in system validation. It embodies the best methodologies and practices in the industry whilst providing innovative solutions for the challenges in your ecosystem.</h2>
            <h2 style="font-weight:100;text-align:justify">Aiming to be the tool-of-choice for the validation of your mobile, client and server systems.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Validation tool that shifts-left
            </h3>
            <p class="upprod_desc">Same tool for pre-silicon, emulation, FPGA and post-silicon validation; Test content scales across different hardware/software configurations; Improved throughput for content development and debug; Save on cost, time and resources spent on redundant validation</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Enable concurrency testing in SoC(s)
            </h3>
            <p class="upprod_desc">Same tool to stress all IPs in the SoC concurrently; Supports ARMv8/AArch64 and PCI express currently but plan to support other IPs in near future to ensure validation coverage for any SoC implementation;</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Diverse test stimulus specification mechanisms
            </h3>
            <p class="upprod_desc">The tool supports different types of test stimulus specification mechanism; Supports bias based mechanism to generate traffic for random testing needs; Implements a framework to include snippets of ASM like low level programming language for focused tests; Supports a C++ based API to include test scenarios which require complex programming constructs</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Large library of test stimulus
            </h3>
            <p class="upprod_desc">Ships a large library of test stimulus with the tool; Coverage for common test scenarios like message passing, cacheline sharing between IPs, pipeline hazards etc. provided in the library; The library of test stimulus ensures easy ramp into validation readiness</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Extremely user friendly
            </h3>
            <p class="upprod_desc">Specially designed user interface to make complex test specification easy; Easily interpretable test report file and debug logs with verbose information which can be used for manual or automated test intent analysis and failure debug; Extended documentation, FAQs and support manuals;</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Easily debug failures
            </h3>
            <p class="upprod_desc">Consistent and reliable failure reproduction; Failure reproduction shift-lefts making it easy to recreate a post-si failure in emulation or pre-si; Debug hooks and mechanisms implemented in tool which allow rapid failure debug and resolution; Mechanism to incrementally reduce the test content from failure point for quick triage;</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Create tool extensions easily
            </h3>
            <p class="upprod_desc">Tool designed in a manner to let customers create extensions of tool easily for proprietary IPs; Test content management layer lets the native features to be randomized effectively with the new extensions developed; C++ based API makes it easy to develop standalone device drivers;</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Ready for use and deployment
            </h3>
            <p class="upprod_desc">Sting is ready for use and deployment; Various licensing and support schemes available to fit different kinds of engagement models; Committed to address the validation challenges by working together</p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="hline" style="border-width:1px;padding-top:10px;padding-bottom:10px"></div>
    <div class="row centered">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <h2 class="handwrite" style="color:black;font-weight:100;text-align:center">Experience the capabilities of Sting and evaluate how it can fit in your validation ecosystem.</h2>
        </div>
        <div class="col-lg-1"> </div>
    </div>
    <div class="row centered" style="padding-top:10px;padding-bottom:20px">
        <a href="{{"/contact/" | prepend: site.baseurl }}" class="btn btn-theme" style="font-size:24px">Contact us for a Demo</a>
    </div>
</div> <!-- /container -->
