<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h4 style="font-weight:500;text-align:justify">
                STING, the flagship product of Valtrix Systems, is a bare metal software specially designed to serve as a platform for the design verification of IP/SoC implementations. The software stack consists of test generators, checkers, device drivers and a light-weight kernel which can be configured into a portable program as per the needs of the verification environment. The program can seamlessly boot on simulation, FPGA prototypes, emulation or silicon and execute the constrained random, directed or coverage based tests that the user programs or requests for.
            </h4>
            <br/>
            <h4 style="font-weight:500;text-align:justify">
                The highly portable stimulus is controlled by a rich file based test specification scheme. High level of controllability is provided to the user for every test parameter so that every test condition can be mapped to a particular test configuration.
            </h4>
            <br/>
            <h4 style="font-weight:500;text-align:justify">
                STING is developed with a vision to solve problems commonly seen in design verification and system validation. It embodies the best methodologies and practices in the industry whilst providing innovative solutions for the unique challenges in specific ecosystem. Designed for scalability and extensibility, companies can make full use of it across the spectrum of embedded, client and server SoCs. 
            </h4>
        </div><!-- /col-lg-12 -->
    </div>
    <div style="padding-top:20px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">IMPORTANT FEATURES</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Stable and deterministic kernel</span>
                <span class="upprod_desc">with a tiny memory and instruction footprint ideal for simulation environments</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Extremely fast test generation and execution</span>
                <span class="upprod_desc">to cover a large amount of verification space in a small amount of time</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="upprod_desc">Run the exactly same portable stimulus on</span>
                <span class="emph_line_start">simulation, FPGA prototype, emulation or silicon</span>
                <span class="upprod_desc">without any change</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Extensive hardware support</span>
                <span class="upprod_desc">including ARMv8, RISC-V and USB. Check the section below for details</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Generates extremely tight sequences of code</span>
                <span class="upprod_desc">for faster closure on coverage</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Interspersed directed and random testing</span>
                <span class="upprod_desc">for better coverage under different levels of stress</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Configuration file based input</span>
                <span class="upprod_desc">to control kernel setup, test generation and execution</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Special kernel and library APIs</span>
                <span class="upprod_desc">for design verification available to test developers to write stimulus generators</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Clock, power, memory and interrupt management</span>
                <span class="upprod_desc">support provided by kernel to the test generators and device drivers</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Support for standard verification algorithms</span>
                <span class="upprod_desc">is available with the library of test stimulus</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div style="padding-top:20px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">KEY ADVANTAGES AND BENEFITS</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Shift-left the design verification</span>
                <span class="upprod_desc">by using the same tool on simulation, emulation, FPGA prototypes and silicon; Test stimulus scales automatically on different hardware/software configurations; Improved throughput for test development and debug; Save on cost, time and resources spent on redundant verification</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Test all IPs at once</span>
                <span class="upprod_desc">by concurrently enabling traffic; Covers all the IP cross-products thoroughly and throttle the system to its maximum; Advanced CPU and IO scheduling mechanisms in kernel ensures that the coverage goals are met in least possible time</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Diverse test development mechanisms</span>
                <span class="upprod_desc">supported in the tool; Bias based mechanism to generate traffic for random testing needs; Supports a framework for development of directed tests using snippets of ASM like low level programming language; Allows C++ based test development for scenarios which require complex programming constructs</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Large library of test stimulus</span>
                <span class="upprod_desc">shipped with the tool; Coverage for common test scenarios like message passing, memory coherency and consistency, cacheline sharing between IPs, pipeline hazards etc. and device drivers for multiple IPs provided in the library; The library of test stimulus ensures easy ramp into verification readiness</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">User friendly and intuitive design</span>
                <span class="upprod_desc">makes the tool usage easy for engineers. Specially designed user interface to make complex test specification easy; Easily interpretable test report file and debug logs with verbose information for manual/automated test intent analysis and failure debug; Extended documentation, FAQs and support manuals;</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Ease of failure debug</span>
                <span class="upprod_desc">facilitated by a host of tool features; Consistent execution environment and reliable failure reproduction makes it easy to recreate a post-si failure in emulation or pre-si; Debug hooks and mechanisms implemented in tool which allow rapid failure debug and resolution; Mechanism to incrementally reduce the test content from failure point for quick triage;</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Add custom extensions in the tool</span>
                <span class="upprod_desc">for proprietary IPs developed by companies; Test content management layer lets the native features to be randomized effectively with the new extensions developed; C++ based API makes it easy to develop standalone device drivers;</span>
            </p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <p>
                <span class="emph_line_start">Multiple modes of execution</span>
                <span class="upprod_desc">available for different verification environments; Slower simulations can execute a mode where only the test is run on target and setup/check is done offline; On silicon, all the components can be run on the target for maximum test throughput</span>
            </p>
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
    <div style="padding-top:20px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">HARDWARE/IP SUPPORTED</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="upprod_desc">STING supports multiple hardware/system architectures, including:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <p><span class="emph_line_start">ARMv8 CPU</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">32-bit RISC-V CPU</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">64-bit RISC-V CPU</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">USB 2.0/3.0</span></p>
        </div>
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-3">
            <p><span class="emph_line_start">NVM Express</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">SATA</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">ARM PL330 DMA Controller</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">ARM DMA330 DMA Controller</span></p>
        </div>
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-3">
            <p><span class="emph_line_start">DDR Memory Controllers</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">CAN</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">I2C</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">SPI</span></p>
        </div>
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-3">
            <p><span class="emph_line_start">SD</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">Multi Media Card</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">GPIO</span></p>
        </div>
        <div class="col-lg-3">
            <p><span class="emph_line_start">Ethernet</span></p>
        </div>
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-12">
            <p class="upprod_desc">We are continuosly adding support for new system architectures. Kindly contact us in case you would like to check the latest updates to the list or would like us to add support for your IP/hardware</p>
        </div>
    </div>
    <div style="padding-top:20px"></div>
    <div class="hline" style="border-width:1px;padding-top:10px"></div>
    <div style="padding-top:20px"></div>
    <div class="row centered">
        <div class="col-lg-12" style="text-align:center">
            <p>
                <a href="{{"/contact/" | prepend: site.baseurl }}" style="bottom:20px" class="btn btn-theme btn-large">Request Evaluation<br/><span style="font-size:12px">(STING Demo & Overview)</span></a>
                <a href="{{"/assets/pdf/Sting-Product-Datasheet.pdf" | prepend: site.baseurl }}" style="bottom:20px" class="btn btn-theme btn-large" target="_blank">Download Datasheet<br/><span style="font-size:12px">(PDF, 271.4Kb)</span></a>
            </p>
        </div>
    </div><!-- /row-->
    <div style="padding-top:20px"></div>
</div> <!-- /container -->
