<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h3 style="text-align:justify">We have a host of exciting validation products under development. Check the sections below for a brief overview.</h3>
        </div><!-- /row -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Test suite of Linux based RIS/focused validation tools
            </h3>
            <p class="upprod_desc">The test suite is a collection of Linux based validation tools targeting the IPs and SoC sub-blocks. These tools are designed to run concurrently under a synchronization framework to provide system level stress. Running under commercial OS will provide compatibility with the customer's environment easing the validation and debug at the full system level.</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Vendor compliance matrix test suite for SoC platforms
            </h3>
            <p class="upprod_desc">The test suite consists of validation plans and tools/scripts which checks the compatibility between a SoC platform and the different vendor supplied endpoints/devices. The matrix testing will check the test scenario compliance for all platform-device combinations. For example, checking the memory controller test conditions in a SoC platform for all the vendor DIMMs.</p>
        </div><!-- /row -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Sting based validation plans for system IPs
            </h3>
            <p class="upprod_desc">This product consists of Sting based validation plans for each system IP like PCI express, USB, SATA etc. This is being done with the vision of early enabling of validation for most of the IPs in the SoC designed by the customer. Having all the test scenarios covered in Sting will also benefit the cross product validation requirements of the SoC.</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Test suite for SoC/IP use-case based validation
            </h3>
            <p class="upprod_desc">This test suite comprises of enterprise, benchmark and other real world software use cases. The suite will be a proof-of-concept for the viability of using the SoCs for those software models while providing implicit validation coverage for the IPs.</p>
        </div><!-- /row -->
    </div>
</div> <!-- /container -->
