<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h4 style="font-weight:500;text-align:justify">A host of design verification products are under development at Valtrix Systems. Brief details about some of them are given below.</h4>
        </div><!-- /row -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">LINUX BASED RANDOM/FOCUSED VERIFICATION TOOL SUITE</div>
            <p class="upprod_desc">The tool suite is a collection of Linux based verification tools targeting the IPs and SoC sub-blocks. These tools are designed to run concurrently under a synchronization framework to provide system level stress. Running under commercial OS will provide compatibility with the customer's environment easing the verification and debug at the full system level.</p>
        </div><!-- /row -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">SoC PLATFORM VENDOR COMPLIANCE TEST SUITE</div>
            <p class="upprod_desc">The test suite consists of verification plans and tools/scripts which checks the compatibility between a SoC platform and the different vendor supplied endpoints/devices. The matrix testing will check the test scenario compliance for all platform-device combinations. For example, checking the memory controller test conditions in a SoC platform for all the vendor DIMMs.</p>
        </div><!-- /row -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">STING BASED IP VERIFICATION PLANS</div>
            <p class="upprod_desc">This product consists of STING based verification plans for each system IP like PCI express, USB, SATA etc. This is being done with the vision of early enabling of verification for most of the IPs in the SoC designed by the customer. Having all the test scenarios covered in STING will also benefit the cross product verification requirements of the SoC.</p>
        </div><!-- /row -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="boxed-header">USE-CASE BASED SYSTEM VERIFICATION TEST SUITE</div>
            <p class="upprod_desc">This test suite comprises of enterprise, benchmark and other real world software use cases. The suite will be a proof-of-concept for the viability of using the SoCs for those software models while providing implicit verification coverage for the IPs.</p>
        </div><!-- /row -->
    </div>
</div> <!-- /container -->
