<div class="container">
    <div class="row centered">
        <div class="col-lg-12">
            <h3 style="text-align:justify">A host of exciting products from Valtrix Systems are under development</h3>
        </div><!-- /row -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Test suite of Windows and Linux based RIS validation tools
            </h3>
            <p class="upprod_desc">A collection of Windows/Linux based tools are under development to make sure we cover each and every area of the chip. These tools are designed to run concurrently under a synchronization framework</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Vendor compliance matrix test suite for SoC platforms
            </h3>
            <p class="upprod_desc">A collection of Windows/Linux based tools are under development to make sure we cover each and every area of the chip. These tools are designed to run concurrently under a synchronization framework</p>
        </div><!-- /row -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="handwrite">
                Sting based test plans for system IPs
            </h3>
            <p class="upprod_desc">A collection of Windows/Linux based tools are under development to make sure we cover each and every area of the chip. These tools are designed to run concurrently under a synchronization framework</p>
        </div><!-- /row -->
        <div class="col-lg-6">
            <h3 class="handwrite">
                Test suite for SoC/IP use-case based validation
            </h3>
            <p class="upprod_desc">A collection of Windows/Linux based tools are under development to make sure we cover each and every area of the chip. These tools are designed to run concurrently under a synchronization framework</p>
        </div><!-- /row -->
    </div>
</div> <!-- /container -->
